.query-builder {
    margin: 0;
}

.query-builder-container {
    padding: 0;
}

.query-builder .group {
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.query-builder .rule--body {
    display: flex;
    flex-direction: row;
}

.query-builder .rule--value {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.query-builder .widget--widget {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.query-builder .rule--widget {
    flex: 1;
    display: flex;
    flex-direction: row;
}
