/*.flexible-term-input {*/
/*    border-bottom: 1px solid rgba(0, 0, 0, 0.42);*/
/*    border-left: 1px solid rgba(0, 0, 0, 0.42);*/
/*    border-right: 1px solid rgba(0, 0, 0, 0.42);*/
/*}*/


.flexible-term-input .gutter .MuiSelect-select {
    padding-left: 12px;
}
